  
  <section class="card-grid">
    <article class="card">
      <figure class="card-figure">
        <img src="http://placehold.it/950x250">
      </figure>

      <header class="card-header">
        <h4>A circle with any center and radius</h4>
      </header>

      <div class="card-content">
        <p>Consequatur a, ullam, voluptatum </p>
      </div>

      <footer class="card-footer">
        <p class="meta"><span class="icon-twitter"></span></p>
      </footer>
    </article>
  </section>