  
  <article class="excerpt">
    <header class="excerpt-header">
      <p class="date omega"><time class="caps">November 12, 2014</time></p>
      <h2>That all right angles equal one another.</h2>
    </header>

    <div class="excerpt-content">
      <p>Consectetur adipisicing elit. Consequatur a, ullam, voluptatum incidunt neque doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit!</p>
    </div>

    <footer class="excerpt-footer">
      <p class="meta zeta"><a href="#" class="button hollow tiny">Read More</a></p>
    </footer>
  </article>