
  <section class="hero">
    <figure class="cover" style="background-image: url(http://placehold.it/2880x1620);">

      <header class="hero-offset">
        <p class="tag omega">Figures</p>
        <h1 class="serif">A figure is that which is contained by any boundary or boundaries.</h1>
        <p class="byline zeta">by Euclid on <time>November 12, 2014</time></p>
        </header>
      </header>
    </figure>
  </section>