
  <aside class="slats">
    <header class="aside-header">
      <h3>What's New</h3>
    </header>

    <ul>
      <li>
        <article class="slat">
          <a href="#">
            <figure class="slat-figure"><img src="http://placehold.it/150x150"></figure>
            <header class="slat-header">
              <p class="date omega"><time>November 12, 2014</time></p>
              <h4 class="semi">To describe a circle with any center and radius.</h4>
              <p class="zeta">Tonx Schlitz lo-fi, Brooklyn wayfarers messenger bag pork belly distillery</p>
            </header>
          </a>
        </article>
      </li>

      <li>
        <article class="slat">
          <a href="#">
            <header class="slat-header">
              <p class="date omega"><time>November 12, 2014</time></p>
              <h4 class="semi">To describe a circle with any center and radius.</h4>
              <p class="zeta">Tonx Schlitz lo-fi, Brooklyn wayfarers messenger bag pork belly distillery</p>
            </header>
          </a>
        </article>
      </li>
    </ul>
  </aside>