
  <aside class="left-off-canvas-menu">
    <ul class="off-canvas-list">
      <li><label>Patterns</label></li>
      <li><a href="/">Styles</a></li>
      <li><a href="components.html">Components</a></li>
      <li><a href="foundation.html">Foundation</a></li>
      <li><a href="animation.html">Animation</a></li>
      <li><a href="scrolling.html">Scrolling</a></li>
<!--           <li><a href="wordpress.html">WordPress</a></li> -->
      <li><a href="specimen.html">Type Specimen</a></li>
      <li class="rhythm-up"><label>Prototypes</label></li>
      <li><a href="ng-test.html">Angular Test</a></li>
      <li><a href="ng-calculator.html">Angular Calculator</a></li>
      <li><a href="geolocation.html">Geolocation</a></li>
    </ul>
  </aside>  
