<h4 class="pattern-title text-center">Headings</h4>

<h1>An acute angle is an angle less than a right angle.</h1>
<h2 class="serif normal">A figure is that which is contained by any boundary or boundaries.</h2>
<h3 class="light">That all right angles equal one another.</h3>
<h4 class="serif">To draw a straight line from any point to any point.</h4>
<h5 class="caps">To describe a circle with any center and radius.</h5>		

<xmp class="prettyprint lang-html sunburst">
  <h1>An acute angle is an angle less than a right angle.</h1>
  <h2 class="serif normal">A figure is that which is contained by any boundary or boundaries.</h2>
  <h3 class="light">That all right angles equal one another.</h3>
  <h4 class="serif">To draw a straight line from any point to any point.</h4>
  <h5 class="caps">To describe a circle with any center and radius.</h5>   
</xmp>