<h5 class="pattern-title text-center">Typography</h5>

<p class="medium no-margin">Sans font: "Proxima Nova", "Open Sans", "Helvetica", "Arial", sans-serif</p>
<p class="serif medium normal no-margin">Serif font: "Freight Text Pro", "Lora", Georgia", "Times", serif</p>