<h4 class="pattern-title text-center">Icons</h4>

<ul class="pattern-icons small-block-grid-2 medium-block-grid-3 large-block-grid-4">
  <li>
    <div class="swatch">
      <span class="icon-mail"></span>
      <p>
        <span class="name">Mail</span>
      </p>
    </div>
  </li>
  <li>
    <div class="swatch">
      <span class="icon-twitter"></span>
      <p>
        <span class="name">Twitter</span>
      </p>
    </div>
  </li>
  <li>
    <div class="swatch">
      <span class="icon-google"></span>
      <p>
        <span class="name">Google</span>
      </p>
    </div>
  </li>
  <li>
    <div class="swatch">
      <span class="icon-facebook"></span>
      <p>
        <span class="name">Facebook</span>
      </p>
    </div>
  </li>
  <li>
    <div class="swatch">
      <span class="icon-menu"></span>
      <p>
        <span class="name">Menu</span>
      </p>
    </div>
  </li>
  <li>
    <div class="swatch">
      <span class="icon-left"></span>
      <p>
        <span class="name">Left</span>
      </p>
    </div>
  </li>
  <li>
    <div class="swatch">
      <span class="icon-right"></span>
      <p>
        <span class="name">Right</span>
      </p>
    </div>
  </li>
</ul>