<h4 class="pattern-title text-center">Forms</h4>

<form>
  <fieldset>
    <div class="row">
      <div class="large-12 columns">
          <label>Input Label
            <input type="text" placeholder="large-12.columns" />
          </label>
        </div>
      </div>
    <div class="row">
      <div class="large-4 columns">
        <label>Input Label
          <input type="text" placeholder="large-4.columns" />
        </label>
      </div>
      <div class="large-4 columns">
        <label>Input Label
          <input type="text" placeholder="large-4.columns" />
        </label>
      </div>
      <div class="large-4 columns">
        <div class="row collapse">
          <label>Input Label</label>
          <div class="small-9 columns">
            <input type="text" placeholder="small-9.columns" />
          </div>
          <div class="small-3 columns">
            <span class="postfix">.com</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>Select Box
          <select>
            <option value="husker">Husker</option>
            <option value="starbuck">Starbuck</option>
            <option value="hotdog">Hot Dog</option>
            <option value="apollo">Apollo</option>
          </select>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <label>Choose Your Favorite</label>
        <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Red</label>
        <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
      </div>
      <div class="large-6 columns">
        <label>Check these out</label>
        <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
        <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>Textarea Label
          <textarea placeholder="small-12.columns"></textarea>
        </label>
      </div>
    </div>
  </fieldset>
</form>      

<div class="row">
  <div class="large-6 columns">
    <!-- Code -->
    <form>
      <fieldset>
        <div class="field-container">
          <label for="text">Text Input <abbr title="Required">*</abbr>
          <input id="text" type="text" placeholder="Text Input">
          </label>
        </div>
        <div class="field-container">
          <label for="password">Password
          <input id="password" type="password" placeholder="Type your Password">
          </label>
        </div>
        <div class="field-container">
          <label for="webaddress">Web Address
          <input id="webaddress" type="url" placeholder="http://yoursite.com">
          </label>
        </div>
        <div class="field-container">
          <label for="emailaddress">Email Address
          <input id="emailaddress" type="email" placeholder="name@email.com">
          </label>
        </div>
        <div class="field-container">
          <label for="search">Search
          <input id="search" type="search" placeholder="Enter Search Term">
          </label>
        </div>
        <div class="field-container">
          <label for="text">Number Input <abbr title="Required">*</abbr>
          <input id="text" type="number" placeholder="Enter a Number" pattern="[0-9]*">
          </label>
        </div>
        <div class="field-container">
          <label for="textarea">Textarea
          <textarea id="textarea" rows="8" cols="48" placeholder="Enter your message here"></textarea>
          </label>
        </div>
        <div class="field-container error">
          <label class="error">Error Input
          <input class="is-error" type="text" placeholder="Text Input">
          </label>
          <small class="small error note">Bad input. Bad</small>
        </div>
        <div class="field-container">
          <label class="valid">Valid
          <input class="is-valid" type="text" placeholder="Text Input">
          </label>
          <small class="small note">Valid input. Thanks</small>
        </div>
      </fieldset>
    </form>
    <!--end code-->
  </div>

  <div class="large-6 columns">
    <xmp class="prettyprint lang-html sunburst">
  <label for="text">Text Input <abbr title="Required">*</abbr></label>
  <input id="text" type="text" placeholder="Text Input">

  <label for="password">Password</label>
  <input id="password" type="password" placeholder="Type your Password">

  <label for="search">Search</label>
  <input id="search" type="search" placeholder="Enter Search Term">

  <label for="emailaddress">Email Address</label>
  <input id="emailaddress" type="email" placeholder="name@email.com">

  <label for="textarea">Textarea</label>
  <textarea id="textarea" rows="8" cols="48" placeholder="Enter your message here"></textarea>

  <label for="text">Number Input <abbr title="Required">*</abbr></label>
  <input id="text" type="number" placeholder="Enter a Number" pattern="[0-9]*">

  <label>Select Box
    <select>
      <option value="husker">Husker</option>
      <option value="starbuck">Starbuck</option>
      <option value="hotdog">Hot Dog</option>
      <option value="apollo">Apollo</option>
    </select>
  </label>

  <label class="error">Error Input</label>
  <input class="is-error" type="text" placeholder="Text Input">
  <span class="small note">Bad input. Bad</span>

  <label class="valid">Valid</label>
  <input class="is-valid" type="text" placeholder="Text Input">
  <span class="small note">Valid input. Thanks</span>
    </xmp>
</div>
