<section class="pattern-section">
  <header class="pattern-header">
    <h4 class="pattern-title"></h4>
  </header>

  <div class="code">
    <xmp class="prettyprint lang-html sunburst">
    </xmp>
  </div>
</section>