// Full width image using background image

.hero {
  @extend %responsive-hero;
  @include margin-trailer(1.5);
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;

  &-offset {
    padding: 1rem;

    @media #{$medium-up} {
      padding: 2rem;
    }  
  }
}