.caption-overlay {
  overflow: hidden;
  position: relative;

  figcaption {
    // See helpers/media
    @extend %full-overlay;

    line-height: 1.40625rem;

    .row, .text-overflow {
      height: 100%;
      overflow: hidden;
    }

    p {
      // @include ellipsis(50%);
    }

    &.centered {
      background-color: rgba($primary-color, .8);
      padding: 0;
      text-align: center;

      p { 
        color: #fff;  
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        width: 100%;
      } 
    }
  }
}