.demo {
  text-align: center;
  background-image: url("../images/example_bg_spacer_v.gif");
}

.box {
  background-color: #ccc;
  border-radius: 8px;
  display: inline-block;
  padding: 0 5px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 50px;
  margin: 25px auto;

  // &-responsive {
  //   top: 50%;
  //   left: 50%;
  //   position: absolute;
  // }
} 

.spacer {
  min-height: 400px;
}

.trigger {
  height: 1px;
}
