.slats {

}

.slat {
  @extend %no-margin;
  @include grid-row();
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  
  .slat-figure {
    float: left;
    margin-right: 1em;
  }

  .slat-header {
    overflow: auto;
  }

  a {
    color: $aluminum;
  }
}