.pattern-icons {
  .swatch {
    border: 1px solid #efefef;
    border-radius: 6px;
    padding-top: 20px;
    text-align: center;

    [class^="icon-"], [class*=" icon-"] {
      font-size: 1.5rem;
    }  

    p {
      background-color: white;
      font-size: .75em;
      padding: .5rem;
      position: relative;
      margin-bottom: 0;
      
      span {
        display: block;
      }
    }
  }
}