.pattern {

  &-section {
    border-bottom: 1px solid #ccc;
    padding-bottom: 3rem;

    &.bright {
      background-color: white;
    }
  }

  &-header {
    border-bottom: 2px solid $ghost;
    color: $iron;
    margin: 1.5rem 0;

    p {
      //margin-top: -1.5rem;
    }
  }

  &-title {
    margin-top: 1.5rem;
  }

  &-footer {
    padding-top: 1.5rem;
  }
}
