// See _settings.scss

button,
.button {
  @include button;
  
  &.hollow {
    background-color: transparent;
    border-color: $primary-color;
    border-width: 1px;
    color: $primary-color;
    text-transform: uppercase;

    &:hover {
      background-color: rgba($primary-color, .2);
    }
  }
}
