---
title: Mister Machine Patterns
---

<div class="row">
  <div class="medium-9 medium-centered columns">
    <section class="pattern-section">
      <header class="pattern-header">
        <h4 class="pattern-title">Animated</h4>
      </header>

      <ul class="pattern-icons small-block-grid-2 medium-block-grid-3 large-block-grid-4">
        <li class="wow slideInLeft">
          <div class="swatch">
            <span class="icon-mail"></span>
            <p>
              <span class="name">Mail</span>
            </p>
          </div>
        </li>
        <li class="wow fadeInUp">
          <div class="swatch">
            <span class="icon-twitter"></span>
            <p>
              <span class="name">Twitter</span>
            </p>
          </div>
        </li>
        <li class="wow fadeInDown">
          <div class="swatch">
            <span class="icon-google"></span>
            <p>
              <span class="name">Google</span>
            </p>
          </div>
        </li>
        <li class="wow slideInRight">
          <div class="swatch">
            <span class="icon-facebook"></span>
            <p>
              <span class="name">Facebook</span>
            </p>
          </div>
        </li>
      </ul>

<!--  <div class="code">
        <xmp class="prettyprint lang-html sunburst">
          <%= partial "components/_story" %>
        </xmp>
      </div> -->
    </section>

     <section class="pattern-section">
      <header class="pattern-header">
        <h4 class="pattern-title">Text</h4>
      </header>

      <article class="serif wow fadeInLeft">
        <p class="wow fadeInUp">Imagine a vast sheet of paper on which straight Lines, Triangles, Squares, Pentagons, Hexagons, and other figures, instead of remaining fixed in their places, move freely about, on or in the surface, but without the power of rising above or sinking below it, very much like shadows--only hard with luminous edges--and you will then have a pretty correct notion of my country and countrymen. Alas, a few years ago, I should have said "my universe": but now my mind has been opened to higher views of things.</p>

        <h2 class="serif wow fadeInRight" data-wow-delay="1s">Place a penny on the middle of one of your tables in Space; and leaning over it, look down upon it. It will appear a circle.</h2>

        <p class="wow fadeInLeft">The same thing would happen if you were to treat in the same way a Triangle, or a Square, or any other figure cut out from pasteboard. As soon as you look at it with your eye on the edge of the table, you will find that it ceases to appear to you as a figure, and that it becomes in appearance a straight line. Take for example an equilateral Triangle--who represents with us a Tradesman of the respectable class. Figure 1 represents the Tradesman as you would see him while you were bending over him from above; figures 2 and 3 represent the Tradesman, as you would see him if your eye were close to the level, or all but on the level of the table; and if your eye were quite on the level of the table (and that is how we see him in Flatland) you would see nothing but a straight line.</p>

        <h3 class="serif wow fadeInRight">I call our world Flatland, not because we call it so, but to make its nature clearer to you, my happy readers, who are privileged to live in Space..</h3>


      </article>

     </section>

     <section class="pattern-section">
      <header class="pattern-header">
        <h4 class="pattern-title">Figure</h4>
      </header>

      <figure class="stack">
        <%= partial "partials/_pattern-shapes" %>
      </figure>
    </section>

    <section class="pattern-section">
      <header class="pattern-header">
        <h4 class="pattern-title">Structure</h4>
      </header>

      <figure class="hpd-ecosystem structure">
        <div class="hdp-applications cell wow fadeInDown" data-wow-delay="1s">
          <label>Applications</label>
        </div>

        <div class="hdp-data-systems cell wow fadeInLeft">
          <label>Data Systems</label>
        </div>

        <aside class="hdp-aside-tools">
          <div class="hdp-data-tools cell wow fadeInDown" data-wow-delay="2s">
            <label>Data Tools</label>
          </div>
          
          <div class="hdp-operations-tools cell wow fadeInRight" data-wow-delay="3s">
            <label>Operations Tools</label>
          </div>
        </aside>

      </figure>
    </section> 
  </div>

</div>
