---
title: Mister Machine Patterns
---

<div class="row">
  <div class="medium-12 medium-centered columns">
    <section class="demo">

      <div class="spacer"></div>

      <div id="trigger1" class="trigger"></div>
      <div id="pin1" class="box">
        <p>Stay where you are (at least for a while).</p>
      </div>

      <%= partial "partials/_hdp" %>

      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="spacer"></div>
    </section>
  </div>
</div>
